<!-- Banner Section -->

<header>
  <!-- Site Logo -->
  <div class="headerImg">
    <a href="/"><img src="/images/BatmanLogo.png" alt="logo of Store" /></a>
  </div>
  <!-- Site Heading -->
  <div class="siteHeading">
    <h1>Batcave Bargain Bonanza!</h1>
  </div>
</header>
