<!-- Navigation Bar -->
<nav>
  <ul class="nav-content">
    <li><a href="/saleForm">Sale</a></li>
    <li><a href="#">Why Joker Sucks</a></li>
    <li><a href="/allorders">All Orders</a></li>
    <li><a href="#">Meet Bat-Family</a></li>
  </ul>
</nav>
